<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FlexTimeTracker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FlexTimeTracker.Properties.Settings>
            <setting name="FlexTimeTrackerRepository" serializeAs="String">
                <value>C:\Temp\FlexTimeTrackerRepository</value>
            </setting>
            <setting name="EffectiveHours" serializeAs="String">
                <value>6</value>
            </setting>
        </FlexTimeTracker.Properties.Settings>
    </userSettings>
</configuration>